<div class="event-list">
    <div class="event-card" *ngFor="let event of events">
      <h3>{{ event.type }}</h3>
      <p>📍 {{ event.place }}</p>
      <p>🗓️ {{ event.date | date:'medium' }}</p>
      <p>{{ event.description }}</p>
      <p>👤 Вмещает до: {{ event.capacity }} чел.</p>
  
      <div class="buttons">
        <button (click)="goToDetails(event.id)">Подробнее</button>
        <button *ngIf="event.can_apply" (click)="applyToEvent(event.id)">
          Участвовать
        </button>
      </div>
    </div>
  </div>
  