<div *ngIf="user" class="user-profile-container">
  <button backButton class="btn btn-outline-primary mb-3">← Back</button>

  <div class="profile-card shadow">
    <div class="avatar-wrapper">
      <img [src]="user.avatar" alt="Avatar" class="avatar-img" />
    </div>

    <h4 class="name">{{ user.first_name }} {{ user.second_name }}</h4>
    <h6 class="username">@{{ user.username }}</h6>
    <p class="email">{{ user.email }}</p>
    <p class="bio" *ngIf="user.bio">{{ user.bio }}</p>

    <div *ngIf="usernameFromToken === user.username">
      <a [routerLink]="'/users/' + user.username + '/change_password'" class="btn btn-primary mt-3">
        Change password
      </a>
    </div>
  </div>
</div>
