<div class="about-container">
  <div class="text">
    <h1>Uldar Net</h1>
    <p>The "ULDAR NET" is a platform where every guy can ask an important question about men's lives. Especially for those who grow up without a father or cannot get advice from an elder — you are not alone here.
      You can ask us about everything you care about.: how to start a car in winter, how to stand up for yourself, what to do in a difficult situation, how to cope with worries or establish relationships.
      
      You can not only ask questions, but also share your experience, because brotherly support is stronger when we are together.
      The first tags already exist are cars, but soon there will be topics about relationships, career, self—development, sports, and more.
      
      They don't judge here, they answer here.
      Join a community where everyone can be both a student and a mentor.</p>
  </div>
</div>
